#set($user=$session_tool.currentUser())
#set($css_file="guide.css")
#set($site_title="IT读书网 - 赶快加入我们")
#set($site_desc="我们提供各类技术文章，技术教程，从入门到进阶到高级，码农之路陪您一起走")
<div class="guide-main">
			<h1>$!{user.name}，从选择你的兴趣开始读书之旅吧 O(∩_∩)O~</h1>
				<form method="post" action="/action/user/interest">
					<input type="hidden" name="goto_page" value="/" />
					<div style="display: none;">
						<input type="hidden" name="ck" value="GO4r"/>
					</div>
					<div class="interests">
						<ul>
							<li><input type="checkbox" class="checkbox" selected
								name="interest" value="算法" id="sel_interest_0"/><label
									for="sel_interest_0">算法</label></li>
							<li><input type="checkbox" class="checkbox"
								name="interest" value="数据结构" id="sel_interest_1"/><label
									for="sel_interest_1">数据结构</label></li>
							<li><input type="checkbox" class="checkbox" name="interest"
								value="Java" id="sel_interest_2"/><label
									for="sel_interest_2">Java</label></li>
							<li><input type="checkbox" class="checkbox" name="interest"
								value="系统架构" id="sel_interest_3"><label
									for="sel_interest_3">系统架构</label></li>
							<li><input type="checkbox" class="checkbox"
								name="interest" value="Android" id="sel_interest_4"><label
									for="sel_interest_4">Android</label></li>
							<li><input type="checkbox" class="checkbox" name="interest"
								value="IOS" id="sel_interest_5"><label
									for="sel_interest_5">IOS</label></li>
							<li><input type="checkbox" class="checkbox" name="interest"
								value="PHP" id="sel_interest_6"><label
									for="sel_interest_6">PHP</label></li>
							<li><input type="checkbox" class="checkbox" name="interest"
								value="ASP.NET" id="sel_interest_7"><label
									for="sel_interest_7">ASP.NET</label></li>
							<li><input type="checkbox" class="checkbox" name="interest"
								value="C语音" id="sel_interest_8"><label
									for="sel_interest_8">C语音</label></li>
							<li><input type="checkbox" class="checkbox" name="interest"
								value="C++" id="sel_interest_9"><label
									for="sel_interest_9">C++</label></li>
							<li><input type="checkbox" class="checkbox" name="interest"
								value="Linux" id="sel_interest_11"><label
									for="sel_interest_11">Linux</label></li>
							<li><input type="checkbox" class="checkbox" name="interest"
								value="Windows" id="sel_interest_12"><label
									for="sel_interest_12">Windows</label></li>
							<li><input type="checkbox" class="checkbox" name="interest"
								value="HTML5" id="sel_interest_13"><label
									for="sel_interest_13">HTML5</label></li>
							<li><input type="checkbox" class="checkbox" name="interest"
								value="Javascript" id="sel_interest_14"><label
									for="sel_interest_14">Javascript</label></li>
							<li><input type="checkbox" class="checkbox" name="interest"
								value="CSS" id="sel_interest_15"><label
									for="sel_interest_15">CSS</label></li>
							<li><input type="checkbox" class="checkbox"
								name="interest" value="网络" id="sel_interest_16"><label
									for="sel_interest_16">网络</label></li>
							<li><input type="checkbox" class="checkbox" name="interest"
								value="嵌入式" id="sel_interest_17"><label
									for="sel_interest_17">嵌入式</label></li>
							<li><input type="checkbox" class="checkbox" name="interest"
								value="人机交互" id="sel_interest_18"><label
									for="sel_interest_18">人机交互</label></li>
							<li><input type="checkbox" class="checkbox" name="interest"
								value="云计算" id="sel_interest_19"><label
									for="sel_interest_19">云计算</label></li>
							<li><input type="checkbox" class="checkbox" name="interest"
								value="计算机基础" id="sel_interest_20"><label
									for="sel_interest_20">计算机基础</label></li>
							<li><input type="checkbox" class="checkbox" name="interest"
								value="Mysql" id="sel_interest_21"><label
									for="sel_interest_21">Mysql</label></li>
							<li><input type="checkbox" class="checkbox" name="interest"
								value="Oracle" id="sel_interest_22"><label
									for="sel_interest_22">Oracle</label></li>
							<li><input type="checkbox" class="checkbox" name="interest"
								value="Sql Server" id="sel_interest_24"><label
									for="sel_interest_24">Sql Server</label></li>
							<li><input type="checkbox" class="checkbox" name="interest"
								value="Nosql" id="sel_interest_25"><label
									for="sel_interest_25">Nosql</label></li>
							<li><input type="checkbox" class="checkbox" name="interest"
								value="缓存" id="sel_interest_26"><label
									for="sel_interest_26">缓存</label></li>
							<li><input type="checkbox" class="checkbox" name="interest"
								value="分布式" id="sel_interest_27"><label
									for="sel_interest_27">分布式</label></li>
							<li><input type="checkbox" class="checkbox" name="interest"
								value="物联网" id="sel_interest_28"><label
									for="sel_interest_28">物联网</label></li>
							<li><input type="checkbox" class="checkbox" name="interest"
								value="Ruby" id="sel_interest_29"><label
									for="sel_interest_29">Ruby</label></li>
							<li><input type="checkbox" class="checkbox" name="interest"
								value="ERP" id="sel_interest_30"><label
									for="sel_interest_30">ERP</label></li>
							<li><input type="checkbox" class="checkbox" name="interest"
								value="Python" id="sel_interest_31"><label
									for="sel_interest_31">Python</label></li>
							<li><input type="checkbox" class="checkbox" name="interest"
								value="ActionScript" id="sel_interest_32"><label
									for="sel_interest_32">ActionScript</label></li>
							<li><input type="checkbox" class="checkbox" name="interest"
								value="Perl" id="sel_interest_33"><label
									for="sel_interest_33">Perl</label></li>
						</ul>
					</div>

					<div class="entry">
						<input type="submit" 
								value=" 确定，开始我的读书之旅 " class="guide-submit" /> 
					</div>
					
					<script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
					<script type="text/javascript">
  $('.checkbox').change(function(){
        this.parentNode.className = this.checked ? 'selected' : '';
        
  });
</script>
					
				</form>
			</div>
		</div>