#set($project_name="/ItBook")
#set($css_file="reg.css")
#set($site_title="IT读书网 - 赶快加入我们")
#set($site_desc="我们提供各类技术文章，技术教程，从入门到进阶到高级，码农之路陪您一起走")
<div class="signup-main">
			<div class="signup-left">
				<h2>我要写IT书评</h2>
				<form id="frm_reg" action="${project_name}/action/user/reg" method="POST">
				<table cellspacing="0" cellpadding="0">
					<tbody>
						<tr id="tr_email">
							<th>电子邮箱：</th>
							<td><input type="text" name="email" id="f_email" value=""
								class="TEXT" style="width: 200px;" /> <span id="email_tip"></span>
							</td>
						</tr>
						<tr>
							<th></th>
							<td>
								<ol
									style="border: 1px solid #0E959D; padding: 5px; width: 450px; color: #0E959D; list-style-position: inside; line-height: 22px; list-style-type: decimal; margin: 0 0 10px 0;">
									<li>请填写真实邮箱，用于激活您的帐号；</li>
									<li>如果您没有收到 ItBookReview 发送的邮件，请注意查看您邮箱中的垃圾邮件；</li>
									<li>请将来自 ItBookReview 的邮件设置成不是垃圾邮件，以便接受本站邮件；</li>
								</ol>
							</td>
						</tr>
						<tr>
							<th>昵称：</th>
							<td><input type="text" name="name" id="f_name"
								maxlength="20" class="TEXT" style="width: 150px;" /> <span
								id="name_msg">不能超过10个字</span></td>
						</tr>
						<tr>
							<th>登录密码：</th>
							<td><input type="password" name="pwd" id="f_pwd"
								class="TEXT" style="width: 150px;" /> <span id="password_msg">至少四位</span>
							</td>
						</tr>
						<tr>
							<th>密码确认：</th>
							<td><input type="password" name="pwd2" id="f_pwd2"
								class="TEXT" style="width: 150px;" /></td>
						</tr>
						<tr id="tr_gender">
							<th>性别：</th>
							<td><input type="radio" name="gender" value="1"
								id="gender_1" checked /><label for="gender_1">男</label>&nbsp;&nbsp;&nbsp;
								<input type="radio" name="gender" value="0" id="gender_2" /><label
								for="gender_2">女</label> <span class="nodisp">请选择性别</span></td>
						</tr>
						<tr id="tr_area">
							<th>居住地区：</th>
							<td><select
								onchange="showcity(this.value, document.getElementById('userCity'));"
								name="province" id="userProvince">
									<option value="">--请选择省份--</option>
									<option value="北京">北京</option>
									<option value="上海">上海</option>
									<option value="广东">广东</option>
									<option value="江苏">江苏</option>
									<option value="浙江">浙江</option>
									<option value="重庆">重庆</option>
									<option value="安徽">安徽</option>
									<option value="福建">福建</option>
									<option value="甘肃">甘肃</option>
									<option value="广西">广西</option>
									<option value="贵州">贵州</option>
									<option value="海南">海南</option>
									<option value="河北">河北</option>
									<option value="黑龙江">黑龙江</option>
									<option value="河南">河南</option>
									<option value="湖北">湖北</option>
									<option value="湖南">湖南</option>
									<option value="江西">江西</option>
									<option value="吉林">吉林</option>
									<option value="辽宁">辽宁</option>
									<option value="内蒙古">内蒙古</option>
									<option value="宁夏">宁夏</option>
									<option value="青海">青海</option>
									<option value="山东">山东</option>
									<option value="山西">山西</option>
									<option value="陕西">陕西</option>
									<option value="四川">四川</option>
									<option value="天津">天津</option>
									<option value="新疆">新疆</option>
									<option value="西藏">西藏</option>
									<option value="云南">云南</option>
									<option value="香港">香港特别行政区</option>
									<option value="澳门">澳门特别行政区</option>
									<option value="台湾">台湾</option>
									<option value="海外">海外</option>
							</select> <select name="city" id="userCity"></select> <span class="nodisp">请选择您所在的地区</span></td>
						</tr>
						<tr>
							<th>验证码：</th>
							<td><input type="text" id="f_vcode" name="verifyCode"
								size="6" class="TEXT" /> <span><a
									href="javascript:_rvi()">换另外一个图</a></span></td>
						</tr>
						<tr>
							<th>&nbsp;</th>
							<td><img id="img_vcode" alt="..." src="${project_name}/action/user/captcha"
								style="border: 2px solid #ccc;" /> <script
									language="javascript">
									function _rvi() {
										document.getElementById('img_vcode').src ='${project_name}/action/user/captcha?t='
												+ Math.random(1000);
									}
								</script></td>
						</tr>
						<tr class="buttons">
							<th>&nbsp;</th>
							<td style="padding: 20px 0;"><input type="submit" 
								value=" 注册新用户 " class="BUTTON SUBMIT" /> <span id="error_msg"
								class="error_msg" style="display: none"></span> <br /> <br />
								<span style="color: #0E959D;">ItBookReview倡导真实的品书交流环境，请注册成功后上传真实头像。</span>
							</td>
							<td>
								 <div id="error_msg" class="error_msg" style="display:none;"></div>
							</td>
						</tr>
					</tbody>
				</table>
				</form>
			</div>


			<div class="signup-right">
				<h3>
					已有帐号？ <a href="/home/login">直接登录</a>
				</h3>
				<h3>为什么要注册？</h3>
				<ol>
					<li>发布最新的IT技术书籍的信息</li>
					<li>参与IT书籍的讨论和评论</li>
					<li>和别人分享读书的心得</li>
					<li>随时得到IT书籍最新更新消息</li>
					<li>认识更多IT读书爱好者</li>
				</ol>
				<h3>为什么总提示验证码错误？</h3>
				<ol>
					<li>首先请确定浏览器已经启用Cookie</li>
					<li>实在不行，邮件给我们 itbookreview@163.com</li>
				</ol>
			</div>

		</div>
		
<script type="text/javascript" src="$!{project_name}/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="$!{project_name}/js/jquery.form-2.67.js" charset="utf-8"></script>
<script type="text/javascript" src="${project_name}/js/getcity.js" charset="utf-8"></script>
<script type="text/javascript" src="${project_name}/js/sha1.js" charset="utf-8"></script>
<script type="text/javascript">
var pwd, pwd2;
$('#frm_reg').ajaxForm({
    beforeSubmit: function(a,f,o) {
		if($('#f_email').val().length == 0){
			$('#f_email').focus();
			$('#error_msg').hide();
			$('#error_msg').html("邮箱地址必须填写！");
			$('#error_msg').show("fast");
			return false;
		}
		
		if($('#f_email').val().length != 0){
			var email = $('#f_email').val();
		    var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
            if(!myreg.test(email)){
            	$('#f_email').focus();
				$('#error_msg').hide();
				$('#error_msg').html("邮箱地址错误！");
				$('#error_msg').show("fast");
				return false;
            }
		}
		
		if($('#f_name').val().length == 0){
			$('#f_name').focus();
			$('#error_msg').hide();
			$('#error_msg').html("用户昵称必须填写");
			$('#error_msg').show("fast");
			return false;
		}
		
		if($('#f_name').val().length < 3){
			$('#f_name').focus();
			$('#error_msg').hide();
			$('#error_msg').html("用户昵称太短");
			$('#error_msg').show("fast");
			return false;
		}
		
		if($('#f_pwd').val().length == 0){
			$('#f_pwd').focus();
			$('#error_msg').hide();
			$('#error_msg').html("密码必须填写");
			$('#error_msg').show("fast");
			return false;
		}
		
		if($('#f_pwd').val().length < 6){
			$('#f_pwd').focus();
			$('#error_msg').hide();
			$('#error_msg').html("密码长度不能少于六位");
			$('#error_msg').show("fast");
			return false;
		}
		
		if($('#f_pwd').val().length == 0 || $('#f_pwd').val() != $('#f_pwd2').val()){
			$('#f_pwd').focus();
			$('#error_msg').hide();
			$('#error_msg').html("两次密码必须相同");
			$('#error_msg').show("fast");
			return false;
		}
		
		if($('#userProvince').val().length == 0){
			$('#error_msg').hide();
			$('#error_msg').html("请选择你所在的城市");
			$('#error_msg').show("fast");
			return false;
		}
		
		if($('#userCity').val().length == 0){
			$('#error_msg').hide();
			$('#error_msg').html("请选择你所在的城市");
			$('#error_msg').show("fast");
			return false;
		}  
		
		if($('#f_vcode').val().length == 0){
			$('#f_vcode').focus();
			$('#error_msg').hide();
			$('#error_msg').html("验证码必须填写");
			$('#error_msg').show("fast");
			return false;
		}
		
		 pwd=$('#f_pwd').val();
		 pwd2=$('#f_pwd2').val();
		$('#f_pwd').val(CryptoJS.SHA1($('#f_pwd').val()));
		$('#f_pwd2').val(CryptoJS.SHA1($('#f_pwd2').val()));
		
    },
    success: function(html) {
    	if(html.length > 0){
			$('#f_pwd').val(pwd);
			$('#f_pwd2').val(pwd2);
    		$('#error_msg').hide();
    		$('#error_msg').html(html);
    		$('#error_msg').show("fast");
    	}else{
			location.href="/";
    		//location.href="http://www.coderroad.com/home/regok?email=" + $('#f_email').val();
    	}
    }
});
</script>