#set($user=$session_tool.currentUser())
<div class="header">
			<div class="top-info">
				<div class="inner">
					<h1 class="logo" title="IT书评">
						<a href="/"> IT 书评</a>
					</h1>
					<form id="form-search" action="/search" method="get">
						<input id="input-query" type="text" name="q" maxlength="60"
							size="22" value="" placeholder="作品名 / 书名 / 作者 "
							autocomplete="off" /> <input id="btn-search" type="submit"
							value="搜索" />
					</form>
					<ul class="login-flag">
					#if($user)
						<li class="signup"><a href="">提醒</a></li>
						<li class="login"><a href="" title="个人主页">$!{user.name} </a></li>
						<li class="signup"><a href="/action/user/logout">退出 </a></li>
					#else
						<li class="login"><a href="/login">登录</a></li>
						<li class="signup"><a href="/reg">注册</a></li>
					#end
					</ul>
				</div>
			</div>
		</div>