/****reg页面的css*****/
.signup-main {
	font-family: 微软雅黑, Verdana, sans-serif, 宋体;
	width: 988px;
	margin: 0 auto;
	border: 1px solid #DDDDDD;
		height: 630px;

}
/*左边栏*/
.signup-left {
	float: left;
	width: 70%;
}
/*左边栏---header*/
.signup-left h2 {
	font-size: 16pt;
	font-weight: normal;
	color: #333;
	border-bottom: 2px solid #ddd;
	margin: 0 50px 10px 20px;
	padding: 10px 0px 10px 5px;
	word-space: 1px;
	letter-spacing: 1px;
}
/*左边栏---注册信息表*/
.signup-left table {
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: gray;
	margin-left: 15px;
}

.signup-left table tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

.signup-left table th {
	font-weight: lighter;
	font-size: 11.5pt;
	text-align: right;
	padding: 10px;
	color: #333;
}

.signup-left table a {
	color: #0E959D;
	font-size: 11.5pt;
}

.signup-left table td {
	vertical-align: middle;
}

.signup-left table input.TEXT {
	height: 23px;
	font-size: 16px;
	padding: 3px;
	border: 1px solid #ccc;
}

.signup-left table select {
	font-size: 14px;
	padding: 3px;
}

.signup-left table input.BUTTON {
	font-family: 微软雅黑, Verdana, sans-serif, 宋体;
	font-size: 14px;
	padding: 0 5px;
	height: 30px;
	border: 0;
	font-size: 15px;
	border-radius: 2px;
	cursor: pointer;
	background: #0E959D;
	color: #FFF;
	opacity: 0.8;
}

.signup-left table input.BUTTON:HOVER {
	opacity: 1;
}

/*右边栏-*/
.signup-right {
		height: 630px;
	float: right;
	width: 30%;
	font-size: 9.5pt;
	color: #0E959D;
}

.signup-right h3 {
	margin: 30px 0 10px 0;
	font-size: 11pt;
	font-weight: normal;
	color: #333;
}

.signup-right ol {
	font-size: 10pt;
	padding: 10px 5px;
	list-style-position: inside;
}
.signup-right ol li{
	margin-bottom: 3px;
}

/****regok页面的css*****/
.regok-main {
	font-family: 微软雅黑, Verdana, sans-serif, 宋体;
	width: 988px;
	margin: 0 auto;
	border: 1px solid #DDDDDD;
		height: 510px;

}

.regok-main h3{
	font-size: 11pt;
	font-weight: normal;
	color: #0E959D;
	border-bottom: 1px solid #ddd;
	margin: 30px 50px 10px 0px;
	padding: 10px 0px 2px 0px;
	word-space: 1px;
}
.regok-main ol{
	margin-left: 13px;
}
